*

  header img:hover 
  header img {
    animation: bordaCamaleao 8s infinite;
    border-radius:50%;
    transition: .5s ease-in-out;
    filter: drop-shadow(2px 2px 4px rgba(122, 151, 17, 0.637));
    font-size:50px;
    font-weight:bold;
  }
  
  header img:hover {
    transform: rotate(180deg);
  }
  h3 {
    color: #1634bd;
    font-weight: 700;
    margin: 24px auto;
    text-align: center;
  }
  #experiencias profissionais table, thead, tbody, tfoot, tr, th, td  {
    border: 2px solid #2bb148;
  }
  
  #experiencias profissionais table {
    background-color: #b5c2f8;
    margin: auto;
    padding: 16px;
  }
  
  #formacao academica tr, td, th {
    background-color: #fff;
    padding: 16px;
  }

  #formacao academica table1, thead, tbody, tfoot, tr, th, td  {
      border: 4px solid #e753c2;
  }
  
  .formacao academica table1 {
    background-color: #a51d61;
    margin: auto;
    padding: 16px; 
  }


  @keyframes bordaCamaleao {
    0% {
      border: 5px solid #1634bd;
    }
    25% {
      border: 5px solid #bd1616;
    }
    50% {
      border: 5px solid #bd9616;
    }
    75% {
      border: 5px solid #4bbd16;
    }
    100% {
      border: 5px solid #1634bd;
    }